.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background: getColor("white");
  transition: all 0.4s ease 0s;

  &__list {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    overflow: hidden;
    height: 100%;
    padding: getSpace("l");
    font-size: 2rem;
    font-weight: getFontWeight("bold");
    text-transform: uppercase;

    &-item {
      white-space: nowrap;

      &:hover {
        color: getColor("pink");
      }

      &--color {
        color: getColor("pink");

        &:hover {
          color: getColor("black");
        }
      }
    }
  }
}

@include media("m", min) {
  .nav {
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    max-width: 1290px;
    margin: getSpace("l") auto;
    padding: 0 getSpace("l");

    &__list {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0;
      font-size: 1rem;
    }
  }
}

@include media("ml", min) {
  .nav {
    &__list {
      font-size: 1.4rem;
    }
  }
}
